a {
  color: #fff !important;
  text-decoration: none !important;
}

.active {
  font-weight: 600 !important;
  text-decoration: underline !important;
}

/* card link (Learn More) */
.learn_more {
  color: #333 !important;
}
