a {
  color: #fff !important;
  font-size: 1.3rem !important;
  text-decoration: none !important;
}

.nav_link:hover,
.active {
  font-weight: 600 !important;
  color: rgb(200, 220, 255) !important;
  text-decoration: underline !important;
}

/* card link (Learn More) */
.learn_more {
  color: #333 !important;
  font-size: 1rem !important;
}

.side_bar {
  color: white !important;
}
